/*  global Styles  */

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir/Avenir-Regular/Avenir-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir/Avenir-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir/Avenir-Book.ttf");
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir/Avenir-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir/Avenir-Heavy.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir/Avenir- Light.ttf");
  font-weight: 300;
}

:root {
  --clr-primary: #f36531;
  --clr-primary-light: #fef0ea;
  --clr-dark: #1b1f29;
  --clr-lighter: #5f6269;
  --clr-lighter-variant: #b5b8be;
  --clr-lighter-variant-two: #dfe2e8;
  --clr-lighter-variant-three: #f0f2f6;
  --clr-success: #58b859;
  --clr-blue: #0061f9;
}

body {
  font-family: "Avenir";
  font-weight: 400;
}
h1 {
  font-weight: 800;
}
h2 {
  font-weight: 800;
}
h3 {
  font-weight: 800;
}
/* font sizes */
.fs-24 {
  font-size: 24px;
}
.fs-16 {
  font-size: 16px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}

/* color variants */
.clr-dark {
  color: var(--clr-dark);
}
.clr-light {
  color: var(--clr-light);
}
.clr-lighter {
  color: var(--clr-lighter);
}
.clr-lighter-variant-two {
  color: var(--clr-lighter-variant-two);
}
.clr-blue {
  color: var(--clr-blue);
}

/* Buttons style and states  */
.icon-btn {
  width: 40px;
  height: 40px;
  background-color: var(--clr-lighter-variant-three);
}

.icon-btn:hover {
  background-color: var(--clr-primary);
}
.icon-btn:hover svg {
  fill: #fff;
}
.icon-btn:hover div svg > path {
  fill: #fff;
}
.cursor-pointer {
  cursor: pointer;
}

/* Header Section */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dfe2e8;
  padding: 8px;
}

.header-wrapper .icon-btn:hover svg path {
  fill: #fff;
}

/* Chats List global style */

.users-chat-list .user-list-item .action-dropdown {
  display: none;
  background: #fff;
  border-radius: 8px;
}
.users-chat-list .user-list-item:hover .action-dropdown {
  display: block;
  transition: 0.3s ease-in-out;
}
.users-chat-list .user-list-item:hover .action-dropdown a {
  padding: 4px;
}
.users-chat-list .user-list-item:hover {
  background: var(--clr-primary-light);
  cursor: pointer;
}
.users-chat-list .user-list-item:hover .clr-lighter {
  color: var(--clr-dark);
}
.users-chat-list .user-list-item:hover .clr-light {
  color: var(--clr-lighter);
}
.user-list-item {
  border-bottom: 1px solid #dfe2e8;
  padding: 12px 0px;
}
.active-user {
  background: var(--clr-success);
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  border: 2px solid #fff;
}
.normal-users .user-list-item .time {
  color: var(--clr-lighter-variant);
}
.queued-users .user-list-item .time {
  color: var(--clr-dark);
  font-weight: 800;
}
.badge-pill {
  border-radius: 10px;
  line-height: 1.1;
}
/* Scroll bar design  */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f17e;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #88888881;
  border-radius: 10px;
}

/* Handle on hover */
.custom-scrollbar ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Tabs Style */
.custom-tabs button svg {
  margin-bottom: 7px;
}

/* Media Queries */
@media screen and (max-width: 991.98px) {
  .header-wrapper .logo {
    width: 120px;
    display: block;
  }
  .custom-tabs button svg {
    margin-bottom: 0px;
  }
  /* Scroll bar design  */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
}
